$colors: (
  black: var(--black),
  grey-900: var(--grey-900),
  grey-800: var(--grey-800),
  grey-700: var(--grey-700),
  grey-600: var(--grey-600),
  grey-500: var(--grey-500),
  grey-400: var(--grey-400),
  grey-300: var(--grey-300),
  grey-200: var(--grey-200),
  grey-100: var(--grey-100),
  white: var(--white),
);

@each $name, $hex in $colors {
  .text-#{"" + $name} {
    color: $hex;
  }

  .bg-#{"" + $name} {
    background-color: $hex;
  }
}